html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 25px;
}

body {
    background-color: #faff73;
    /* #82ffa9 */
    /* #faff73 */
}

.header {
    display: flex;
    position: fixed;
    background-color: #3DFD79;
    width: 100%;
    height: 25px;
}

.marquee {
    display: flex;
    width: 100%;
    position: fixed;
    white-space: nowrap;
    animation: scroll 18s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.box1 {
    top: 25px;
    position: fixed;
    height: 25px;
    letter-spacing: 30px;
    font-size: 10px;
    padding-left: 2%;
}

.box100{
    color: azure;
    background-color: #3DFD79;
    bottom: 2%;
    position: fixed;
    height: 25px;
    letter-spacing: 5px;
    font-size: 27px;
    padding-left: 2.5%;
    padding-right: 2%;
    letter-spacing: 0;
}

.box101{
    bottom: -0.5%;
    text-align: right;
    position: fixed;
    right: 2%;
    height: 25px;
    letter-spacing: 5px;
    font-size: 10px;
}

.box99{
    background-color: #3DFD79;
    color: #3DFD79;
    height: 25px;
    bottom: 0%;
    position: fixed;
    width: 200%;
}

.box2 {
    top: 25px;
    position: absolute;
    height: 25px;
    letter-spacing: 5px;
    font-size: 10px;
    right: 0.5%;
    width: 10%;
    text-align: center;
    /* background-color: rgb(203, 230, 85);
    color: rgb(238, 59, 31); */
}

.box4 {
    top: 50px;
    position: absolute;
    height: 25px;
    letter-spacing: 5px;
    font-size: 10px;
    right: 8%;
    width: 10%;
    text-align: center;
    /* background-color: rgba(133, 255, 218, 0.826);
    color: rgb(95, 21, 232); */
}

.ask1 {
    top: 30.5vh;
    font-weight: bold;
    position: absolute;
    left: 35.5%;
    z-index: 2;
    animation: float 6s infinite;
}

.ask2 {
    top: 30.5vh;
    font-weight: bold;
    position: absolute;
    left: 55%;
    z-index: 2;
    animation: float 6s infinite;
}



/*精靈1 */
.evil {
    position: absolute;
    justify-content: center;
    /* display: flex; */
    /* height: 35vh; */
    width: 65%;
    left: 17.5%;
    top: 25%;
    animation: float 6s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.col2 {
    border-width: 10px;
    border: 1px black double;
    background-color: white;
    padding: 20px;
    -webkit-filter: drop-shadow(0px 0px 8px rgb(6, 250, 6));
    position: absolute;
    justify-content: center;
    display: flex;
    width: 10%;
    left: 45%;
    top: 50vh;
    z-index: +1;

}

.background {
    position: absolute;
    width: 100%;
    top: 1%;
    left: 0%;
    z-index: -2;
}

.lefteye {
    position: absolute;
    top: 16%;
    left: 6.5%;
    width: 25%;
    z-index: -1;
}

.righteye {
    position: absolute;
    top: 16%;
    left: 68.5%;
    width: 25%;
    z-index: -1;
}

.row5{
    background-color: #f23e3e;
    position: relative;
    height: 50vh;
    bottom: -170vh;
    padding-top: 10vh;
    padding-left: 0%;
    margin: 0;
}

.box7{
    position: absolute;
    width:8%;
    left: 5vw;
    justify-content: left;
    border: black;
}

.box8{
    position: absolute;
    font-size: 15px;
    line-height: 2;
    left: 15vw;
    color: #f23e3e;
    background-color: aliceblue;
    padding: 11px;
    width: 80%;
    height: 25%;
}

.box9{
    position: absolute;
    width: 100%;
    top: 50vh;

}

.newbook-bk{
    position: absolute;
    top: 213%;
}

.newbook{
    position: absolute;
    top: 200%;
    width: 25%;
    left: 5vw;
}

.box10{
    position: absolute;
    top: 250%;
    left: 5vw;
    width: 25%;
}

.box11{
    position: absolute;
    top: 330%;
    left: 5vw;
    width: 25%;
}

.box12{
    position: absolute;
    top: 440%;
    left: 5vw;
    width: 25%;
}

.box13{
    position: absolute;
    top: 125vh;
    left: 35vw;
    font-size: 15px;
    background-color: #3DFD79;
    padding: 10px;
    width: 50%;
    height: 10%;
    font-weight: bold;

}

.box14{
    position: absolute;
    top: 121.5vh;
    left: 35vw;
    font-size: 10px;
    color: white;
    background-color: #f23e3e;
    padding: 5px;
    padding-right: 0px;
    width: 6%;
    height: 7%;
    justify-content: center;
    text-align: center;
    letter-spacing: 3px;
}

.box15{
    position: absolute;
    top: 130vh;
    left: 35vw;
    font-size: 10px;
    background-color: #faff73;
    padding: 20px;
    padding-left: 10px;
    width: 55%;
    height: 47%;
}
@media only screen and (max-width: 768px) {


}